@font-face {
	font-family: Titles;
	src: url('../fonts/font.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Titles', ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.container {
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.hidden-aos-lr {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;
}

.show-aos-lr {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.hidden-aos-rl {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1.5s;
}

.show-aos-rl {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.hidden-aos-tb {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-100%);
	transition: all 1.5s;
}

.show-aos-tb {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.hidden-aos-bt {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(100%);
	transition: all 1.5s;
}

.show-aos-bt {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		visibility: hidden;
	}

	to {
		bottom: 30px;
		visibility: visible;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		visibility: visible;
	}

	to {
		bottom: 0;
		visibility: hidden;
	}
}

/* ::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: rgb(249 115 22);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#b33a0b, #25a2eb);
	border-radius: 10px;
} */
